db.sqlite3
venv
__pycache__
productos/static/images/Liviana-eco/proyectos/invima/movie1.MOVproductos/static/images/estanteria-pesada/proyectos/bpu/P1010527.MP4
productos/static/images/estanteria-pesada/proyectos/bpu/P1010527.MP4
